diff-match-patch==20121119
dj-database-url==0.4.2
dj-static==0.0.6
Django==1.10.5
django-countries==4.0
django-debug-toolbar==1.6
django-import-export==0.5.1
django-jet==1.0.4
gunicorn==19.6.0
olefile==0.44
Pillow==4.0.0
psycopg2==2.6.2
redis==2.10.5
sqlparse==0.2.2
static3==0.7.0
tablib==0.11.4
whitenoise==3.3.0
