diff-match-patch==20121119
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.1.1
django-countries==5.1.1
django-debug-toolbar==1.9.1
django-import-export==0.7.0
django-jet==1.0.7
gunicorn==19.7.1
olefile==0.45.1
Pillow==5.0.0
psycopg2==2.7.3.2
redis==2.10.6
sqlparse==0.2.4
static3==0.7.0
tablib==0.12.1
whitenoise==3.3.1
