<!-- Movies -->
{% if movies %}
    <div class="movies-container container-fluid">
        <div class="row">
            {% if movies.paginator.count is 1 %}
                <div class="col-sm-offset-5 col-sm-4 col-lg-2">
                    <div class="thumbnail">
                        <a href="{% url 'movies:movie-detail' movies.object_list.first.id %}">
                            <img src="{{ movies.object_list.first.cover.url }}" class="img-responsive" title="{{ movies.object_list.first.title }} }}">
                        </a>
                        <div class="caption">
                            <a href="{% url 'movies:movie-detail' movies.object_list.first.id %}">
                                <h4 style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                                    {{ movies.object_list.first.title }}
                                </h4>
                            </a>
                            <h5>{{ movies.object_list.first.year }}</h5>
                        </div>
                    </div>
                </div>
            {% else %}
                {% for movie in movies %}
                    <div class="col-sm-4 col-lg-2">
                        <div class="thumbnail">
                            <a href="{% url 'movies:movie-detail' movie.id %}">
                                <img src="{{ movie.cover.url }}" class="img-responsive" title="{{ movie.title }}">
                            </a>
                            <div class="caption">
                                <a href="{% url 'movies:movie-detail' movie.id %}">
                                    <h4 style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                                        {{ movie.title }}
                                    </h4>
                                </a>
                                <h5>{{ movie.year }}</h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% else %}
    <div class="section">
        <div class="container">
            <div class="col-xs-12 text-center">
                <h1>No movies found :(</h1>
            </div>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>
{% endif %}

<!-- Pagination -->
{% if movies.has_other_pages %}
    <div style="text-align: center;">
        <ul class="pagination text-center" style="display: inline-block;">
            {% if movies.has_previous %}
                <li><a href="?page={{ movies.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled invisible"><span>&laquo;</span></li>
            {% endif %}
            {% for i in movies.paginator.page_range %}
                {% if movies.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if movies.has_next %}
                <li><a href="?page={{ movies.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="invisible disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    </div>
{% else %}
    <br><br><br><br>
{% endif %}

