{% extends 'movies/base.html' %}
{% block title %}Register{% endblock %}

{% block body %}
    <br><br><br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                        <h3>Register for an Account</h3>
                        {% if error_message %}
                            <div class="col-sx-12">
                                <p class="text-danger col-sm-offset-2 col-sm-8">
                                    <strong>{{ error_message }}</strong>
                                </p>
                            </div>
                        {% endif %}
                        <form class="form-horizontal col-xs-12" role="form" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}

                            {% include 'movies/form_template.html' %}
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <button type="submit" class="btn btn-block btn-success">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer">
                        Already have an account? <a href="{% url 'movies:login-user' %}">Click here</a> to log in.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br>
{% endblock %}

